.tb-page {
  position: relative;
  line-height: 0;
}

.tb-bg {
  width: 100%;
  height: auto;
  display: block;
  user-select: none;
  pointer-events: none;
}

.tb-hotspot {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 33%;
  height: 25%;
  cursor: pointer;
}
